.main-theme {
	background-image: linear-gradient(180deg, rgba(60, 88, 152, .1), rgba(0, 0, 0, .2));
}

.item-detail {
	height: 100vh;
}

.bg-primary-custom-transparent {
	background: rgba(66, 103, 178, .8) !important;
}

.bg-primary {
	background: rgba(66, 103, 178, .95) !important;
}

.btn-primary {
	background: rgba(66, 103, 178, .95) !important;	
	border: 2px solid rgba(66, 103, 178, .95) !important;
}
